/*
----------------------------------
Selector de imágenes
----------------------------------
*/
	#cajaselectorimagenes{
		position:relative;
		width: 80%;
		height: 120px;
		margin: auto;
		background-color:black;
		top:35px;
		overflow-x: scroll;
		overflow-y: hidden;
		border-radius: 20px 20px 0px 0px;
       -webkit-border-radius: 20px 20px 0px 0px;
		-moz-border-radius: 20px 20px 0px 0px;
       -o-border-radius: 20px 20px 0px 0px;
       -ms-border-radius: 20px 20px 0px 0px;
		box-shadow: 15px 15px 75px black;
        -webkit-box-shadow: 15px 15px 75px black;
       -moz-box-shadow: 15px 15px 75px black;
       -o-box-shadow: 15px 15px 75px black;
       -ms-box-shadow: 15px 15px 75px black;
		z-index: 11;
	}
/*Imagenes individuales*/
	.selectorimagen{
		position: relative;
		align-content: center;
		float: left;
		height: 100px;
		width: 100px;
		border: 1px solid white;
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center;
		opacity: 0.6;
	}
	.selectorimagen:hover {
		opacity: 1;
		width: 120px;
		border: 1px none;
		z-index: 13;
		transition: all 0.5s ease-in-out;
		-moz-transform:rotate(-5deg) scale(1);
		-webkit-transform:rotate(-5deg) scale(1);
		-o-transform:rotate(-5deg) scale(1);
		-ms-transform:rotate(-5deg) scale(1);
	}
/*FIN de Imagenes individuales*/
	#ulselectorimagen{
		position: relative;
		float:left;
		display: inline-block;
		list-style: none;
		vertical-align: middle;
		width: 2065px;
		margin-left: -40px;
		margin-top: 1px;
		margin-bottom: 0px;
		cursor: pointer;
	}
	#ulselectorimagen>LI{
		position: relative;
		float:left;
		list-style: none;
	}
/* Imágenes individuales GENERAL*/
	#selectorimagen1{
		background-image: url(../images/1_chipiona_general/thumbnail/1.jpg);
	}
	#selectorimagen2{
		background-image: url(../images/1_chipiona_general/thumbnail/2.jpg);
	}
	#selectorimagen3{
		background-image: url(../images/1_chipiona_general/thumbnail/3.jpg);
	}
	#selectorimagen4{
		background-image: url(../images/1_chipiona_general/thumbnail/4.jpg);
	}
	#selectorimagen5{
		background-image: url(../images/1_chipiona_general/thumbnail/5.jpg);
	}
	#selectorimagen6{
		background-image: url(../images/1_chipiona_general/thumbnail/6.jpg);
	}
	#selectorimagen7{
		background-image: url(../images/1_chipiona_general/thumbnail/7.jpg);
	}
	#selectorimagen8{
		background-image: url(../images/1_chipiona_general/thumbnail/8.jpg);
	}
	#selectorimagen9{
		background-image: url(../images/1_chipiona_general/thumbnail/9.jpg);
	}
	#selectorimagen10{
		background-image: url(../images/1_chipiona_general/thumbnail/10.jpg);
	}
	#selectorimagen11{
		background-image: url(../images/1_chipiona_general/thumbnail/11.jpg);
	}
	#selectorimagen12{
		background-image: url(../images/1_chipiona_general/thumbnail/12.jpg);
	}
	#selectorimagen13{
		background-image: url(../images/1_chipiona_general/thumbnail/13.jpg);
	}
	#selectorimagen14{
		background-image: url(../images/1_chipiona_general/thumbnail/14.jpg);
	}
	#selectorimagen15{
		background-image: url(../images/1_chipiona_general/thumbnail/15.jpg);
	}
	#selectorimagen16{
		background-image: url(../images/1_chipiona_general/thumbnail/16.jpg);
	}
	#selectorimagen17{
		background-image: url(../images/1_chipiona_general/thumbnail/17.jpg);
	}
	#selectorimagen18{
		background-image: url(../images/1_chipiona_general/thumbnail/18.jpg);
	}
	#selectorimagen19{
		background-image: url(../images/1_chipiona_general/thumbnail/19.jpg);
	}
	#selectorimagen20{
		background-image: url(../images/1_chipiona_general/thumbnail/20.jpg);
	}


/*
----------------------------------
CARRUSEL
----------------------------------
*/
#cajacarrusel {
	position: relative;
	top: 30px;
	margin: auto;
	align-content: center;
	text-align: center;
	vertical-align: middle;
	min-width: 380px;
	max-width: 900px;
	max-height: 650px;
	background-color: red;
	z-index: 1;
}
#cajaestilosimagen {
	position: absolute;
	width: 100%;
	height: 40px;
	margin: 30% auto;
	top: 30px;
	background-color: gray;
	z-index: 3;
	transition: 1.3s;
	opacity: 1;
}
#estilosimagen {
	position: relative;
	width: 170px;
	height: 100%;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	align-content: center;

}
.todoslosefectos {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	background-color: green;
	margin: 3px;
	border: 3px solid gray;
	opacity: 0.6;
}
.todoslosefectos:hover {
	background-color: yellow;
	opacity: 1;
}
#cajaflechaizq {
	position: absolute;
	width: 50px;
	height: 100%;
	left: 0;
	vertical-align: middle;
	align-content: center;
	text-align: center;
	background-color: #49739A;
	z-index: 4;
	transition: 1s;
}
#flechaizq {
	position: relative;
	width: 50px;
	height: 60px;
	margin: auto;
	top: 45%;
	background-image: url("../images/botones/flechaizq.png");
	background-repeat: no-repeat;
}
#flechaizq:hover {
	background-image: url("../images/botones/flechaizqhover.png");
}
#cajaflechadrh {
	position: absolute;
	width: 50px;
	height: 100%;
	right: 0px;
	vertical-align: middle;
	align-content: center;
	text-align: center;
	background-color: #49739A;
	z-index: 4;
	transition: 1s;
}
#flechadrh {
	position: relative;
	width: 50px;
	height: 60px;
	margin: auto;
	top: 45%;
	background-image: url(../images/botones/flechadrh.png);
	background-repeat: no-repeat;
	background-position: right
}
#flechadrh:hover {
	background-image: url("../images/botones/flechadrhhover.png");
}
#carruselsuperior {
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	background-image: url("../images/temporal/film.jpg");
	background-repeat: no-repeat;
	background-size:  100% 30px;
	background-position: bottom;
	z-index: 5;
}
#carruselinferior {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-image: url("../images/temporal/film.jpg");
	background-repeat: no-repeat;
	background-size:  100% 30px;
	background-position: bottom;
	z-index: 5;
}

#fondoimagen {
	top:0px;
	left: 0px;
	min-width: 380px;
	max-width: 1200px;
	max-height: 650px;
	z-index: 1;
}

#super_carrusel {
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 4;
}

#centrarimagenactual {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	max-height: 650px;
	height: 100%;
	align-content: center;
	vertical-align: middle;
	text-align: center;
	background-color: black;
}

#imagenactual {
	position: relative;
	width: auto;
	height: 100%;
	z-index: 2;
	opacity: 0.7;
	box-shadow: -10px 10px 20px black;
		-moz-box-shadow: -10px 10px 20px black;
		-webkit-box-shadow: -10px 10px 20px black;
		-o-box-shadow: -10px 10px 20px black;
		-ms-box-shadow: -10px 10px 20px black;
}
