#cajacontenido {
	top: 140px;
	position: relative;
	margin:auto;
	min-width: 380px;
	max-width: 1200px;
	background-color: red;
	align-content: center;
	text-align: center;
}

#contenido {
	position: relative;
	float: left;
	width: 63%;
	border: 10px solid transparent;
	border-image-width: 10px;
	border-image: url("../images/temporal/bitmap.png") 50 stretch;
		-moz-border-image: url("../images/temporal/bitmap.png") 50 stretch;
		-webkit-border-image: url("../images/temporal/bitmap.png") 50 stretch;
		-o-border-image: url("../images/temporal/bitmap.png") 50 stretch;
	background-color: white;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		-ms-border-radius: 20px;
}

#barraderecha {
	position: relative;
	float: right;
	background-color: #1BD5FF;
	width: 26%;
	border: 10px solid transparent;
	border-image-width: 10px;
	border-image: url("../images/temporal/lava.png") 50 stretch;
		-moz-border-image: url("../images/temporal/lava.png") 50 stretch;
		-webkit-border-image: url("../images/temporal/lava.png") 50 stretch;
		-o-border-image: url("../images/temporal/lava.png") 50 stretch;
	background-color: gray;
}
