#desplegarporque {
	position: fixed;
	width: 90px;
	height: 40px;
	top: 0;
	left: 0;
	text-align: center;
	vertical-align: middle;
	align-content: center;
	background-color: ghostwhite;
	display: block;
	border-bottom-right-radius: 40px;
	z-index: 51;
}
#desplegarmenu {
	position: fixed;
	width: 90px;
	height: 40px;
	top: 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
	align-content: center;
	background-color: ghostwhite;
	display: block;
	border-bottom-left-radius: 40px;
	z-index: 51;
}

#cajamenusuperior {
	top: -110px;
	position: fixed;
	width: 100%;
	z-index: 50;
	display: block;
}
#menusuperior {
	position: relative;
	margin: auto;
	width: 90%;
	align-content: center;
	text-align: center;
	display:block;
	border-radius: 10px;

}

#menusuperior LI, #menusuperior A {
	display: inline-block;
	margin: 2px 0px 2px 0px;
	padding: 2px 5px;
	font-style: oblique;
	color: white;
	background-color: #172956;
	text-shadow: 3px 3px 3px #CC2501;
	text-align: center;
	align-content: center;
	border: 1px solid white;
	border-right: none;
	box-shadow: 2px 2px 8px #1BD5FF,
		2px -2px 8px #1BD5FF,
		-2px 2px 8px #1BD5FF,
		-2px -2px 8px #1BD5FF;
	cursor: pointer;
	border-radius: 10px;
}
#menusuperior LI:hover, #menusuperior A:hover {
	background-color: black;
	color: #CFAB62;
	box-shadow: 8px 8px 25px white;
}
#menusuperior UL LI A P IMG {
	width: 40px;
	height: 40px;
}
