@media screen and (min-width: 1001px) {

/*
------------------------------------------
Esta parte es el título
------------------------------------------
*/
	#titulo H1 {
		font-size: 4.2em;
	}
/*

/*
------------------------------------------
Esta parte es el menú superior
------------------------------------------
*/
	#menu {
		min-width: 1001px;
		font-size: 0.9em;
	}

/*
------------------------------------------
Esta parte es el contenido
------------------------------------------
*/
	#cajacontenido {
	}
/*
------------------------------------------
Esta parte es el pie de página
------------------------------------------
*/
	#piecontenido {
		min-width: 1001px;
		font-size: 1.8em;
	}
	#derechos {
		font-size: 0.6em;
	}
/*
------------------------------------------
Esta parte es Index
------------------------------------------
*/
	#cajaportada {
		min-width: 1001px;
	}
	#imgA {
	width: 20%;
	transform:skew(2deg,1deg);
	}
	#imgB {
		width: 18%;
		transform:skew(1deg,2deg);
	}
	#imgC {
		width: 20%;
		transform:skew(2deg,-1deg);
	}
	#imgD {
		width: 18%;
		transform:skew(2deg,-1deg);
	}
	#imgE {
		width: 25%;
		transform:skew(-1deg,1deg);
	}
	#imgF {
		width: 25%;
		transform:skew(-4deg,-1deg);
	}
	#imgG {
		width: 25%;
		transform:skew(-3deg,1deg);
	}
}
