@media screen and (max-width: 600px) {

/*
------------------------------------------
Esta parte es el título
------------------------------------------
*/
	#titulo H1 {
		font-size: 1.7em;
	}
/*

/*
------------------------------------------
Esta parte es el menú superior
------------------------------------------
*/
	#menu {
		min-width: 430px;
		font-size: 1.5em;
	}

/*
------------------------------------------
Esta parte es el contenido
------------------------------------------
*/
	#cajacontenido {
	}
/*
------------------------------------------
Esta parte es el pie de página
------------------------------------------
*/
	#piecontenido {
		min-width: 430px;
		font-size: 1.4em;
	}
	#derechos {
		font-size: 1em;
	}
/*
------------------------------------------
Esta parte es Index
------------------------------------------
*/
	#cajaportada {
		min-width: 430px;
	}
	#imgA {
	width: 80%;
	transform:skew(2deg,1deg);
	}
	#imgB {
		width: 80%;
		transform:skew(1deg,2deg);
	}
	#imgC {
		width: 80%;
		transform:skew(2deg,-1deg);
	}
	#imgD {
		width: 80%;
		transform:skew(2deg,-1deg);
	}
	#imgE {
		width: 80%;
		transform:skew(-1deg,1deg);
	}
	#imgF {
		width: 80%;
		transform:skew(-4deg,-1deg);
	}
	#imgG {
		width: 80%;
		transform:skew(-3deg,1deg);
	}
}
