* {
	margin: 0;
	padding: 0;
}

H1, H2, H3, H4, H5, H6 {
	text-align: center;
}

NAV {
	margin: auto;
	align-content: center;
}

NAV UL LI {
	margin: 2px 8px 2px 8px;
	padding: 10px 18px 10px 18px;
	text-align: center;
	display: inline-block;
	border: 1px groove red;
}

NAV A {
	color: orange;
}

/*
------------------------------------------
Esta parte es el título
------------------------------------------
*/
#titulo {
	height: 80px;
	background-color:red;
}
#titulo IMG {
	display:inline-block;
}
#titulo H1 {
	display:
}
/*
------------------------------------------
Esta parte es el menú superior
------------------------------------------
*/
#menu {
	width: 100%;
	color: aliceblue;
	text-align: center;
	vertical-align: middle;
	background-color: blue;
}
#idiomas {
	display:inline-block;
}
/*
------------------------------------------
Esta parte es el contenido
------------------------------------------
*/
#cajacontenido {
	min-width: 390px;
	max-width: 1200px;
	margin: auto;
	background-color: white;
	margin-top: 14px;
	display: flex;
}

#centrarcontenido {

	align-content: center;
	align-self: center;
	text-align: center;
	vertical-align: middle;

}

#contenido {
	width: 70%;
	margin-right: 5px;
	top: 0;
	background-color: orange;
	flex: 3;
}
/*
------------------------------------------
Esta parte es el Menú a la Derecha
------------------------------------------
*/
#menuderecha {
	width: 30%;
	margin-left: 5px;
	background-color: darkgray;
	flex: 1;
}
